// basic styles
html,
body {
  background: $lightblue;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  background: $lightblue;
  color: $primaryColor;
  height: 100%;

  h1 {
    margin-bottom: $gutter-width;
  }

  p {
    white-space: pre-wrap;
  }

  // only visible on mobile device
  .mobile {
    display: none;

    @include mobile {
      display: block;
    }
  }

  .logo {
    position: absolute;
    top: $gutter-width;
    right: $gutter-width;
    text-align: right;
    z-index: 200;

    @include mobile {
      width: 35%;
    }

    svg {
      max-width: 220px;
    }
  }

  .subtitle {
    font-weight: bold;
  }

  // stage, a fake canvas
  .stage-wrapper {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
  }

  #simulationContainer {
    background: $lightblue;
  }

  .stage {
    // border: 1px dotted black; // debug
    width: 800px;
    height: 600px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;

    .scene {
      //border: 2px dashed rgb(45, 104, 30); // debug
      transform: scale(1);
    }

    div {
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .virusWrapper {
    position: absolute;
    z-index: 100;
  }

  .sidebar {
    width: 25%;
    height: 100%;
    margin: $gutter-width;
    position: absolute;
    left: 0;
    bottom: 120px;
    max-height: calc(100% - 160px);
    overflow: hidden;
    border-radius: $border-radius;

    p {
      margin-top: 10px;
    }

    @include mobile {
      width: 50%;
      height: auto;
      max-height: calc(100% - 250px);
      top: 0;
      bottom: auto;

      .description {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

      &.toggle-open {
        height: 100%;
        
        .description {
          max-height: 900px;
        }

        .drowdown-arrow {
          display: none;
        }
      }

      .drowdown-arrow {
        position: absolute;
        left: 50%;
        width: 30px;
        margin-left: -15px;
        text-align: center;
      }
    }
  }

  .bottombar {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .info-box {
    background: $white;
    border-radius: 5px;
    padding: $gutter-width $gutter-width $gutter-width * 1.5;
    box-shadow: 5px 5px 26px -17px rgba(80, 109, 125, 1);
    max-height: 100%;
    max-height: fill-available;
    overflow-x: auto;
  }

  .sidebar-tools {
    position: absolute;
    font-size: 20px;
    right: 20px;
    bottom: 140px;
    padding: 0 $gutter-width;

    span {
      cursor: pointer;
      display: block;
      margin-bottom: $gutter-width/2;
    }
  }
}
