// fonts

@font-face {
  font-family: 'Barlow';
  font-weight: normal;
  src: url(./../fonts/Barlow/Barlow-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Barlow';
  font-weight: bold;
  src: url(./../fonts/Barlow/Barlow-Bold.ttf) format('truetype');
}

// typography

html,
body,
input {
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

.subtitle {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 19px;
}
