// colors
$white: #fff;
$bluegreen: #506d7d;
$lightbluegreen: #95c9cc;
$lightblue: #c7ebed;
$red: #f18370;

$primaryColor: $bluegreen;

$gutter-width: 20px;
$border-radius: 5px;

//Screen size defs
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;